.Banner__container > img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  margin-top: 30px;
}

/* MOBILE VIEW */
@media only screen and (max-width: 784px) {
  .Banner__container > img {
    width: 100vw;
    height: 200px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 400px) {
  .Banner__container > img {
    width: 450px;
    height: 200px;
    object-fit: cover;
  }
}
